<div class="container">
  <h1>Страница регистрации пользователя</h1>
  <form action="registration" method="post">
    <div class="mb-3">
      <label for="user-email" class="form-label">Email адрес</label>
      <input type="email" class="form-control" id="user-email" placeholder="name@example.com" required="required">
    </div>
    <div class="mb-3">
      <label for="last-name" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="last-name" placeholder="Иванов" required="required" pattern="[A-Za-zА-Яа-яЁё]+">
    </div>
    <div class="mb-3">
      <label for="first-name" class="form-label">Имя</label>
      <input type="text" class="form-control" id="first-name" placeholder="Иван" required="required" pattern="[A-Za-zА-Яа-яЁё]+">
    </div>
    <div class="mb-3">
      <label for="patronymic" class="form-label">Отчество</label>
      <input type="text" class="form-control" id="patronymic" placeholder="Иванович" required="required" pattern="[A-Za-zА-Яа-яЁё]+">
    </div>
    <div class="mb-3">
      <label for="user-password" class="form-label">Ваш пароль</label>
      <input type="password" class="form-control" id="user-password" required="required" minlength="8" maxlength="32">
    </div>
    <div class="mb-3">
      <label for="user-password-confirmation" class="form-label">Повторите пароль</label>
      <input type="password" class="form-control" id="user-password-confirmation" required="required" minlength="8" maxlength="32">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary mb-3">Регистрация</button>
    </div>
  </form>


  <div class="news_appointment_block_form">
    <%= form_with model: Appointment.new, url: platform_appointment_send_path(@appointment), id: 'appointment_form' do |f| %>
      <%= f.hidden_field :news_id, value: @news.id %>
      <%= f.hidden_field :company_id, value: @company.id %>
      <div class="news_appointment_label_field">
        <%= f.label "Имя" %>
      </div>
      <div class="news_appointment_input_field">
        <%= f.text_field :first_name, minlength: 2, required: "required", size: 30, placeholder: "Введите свое имя" %>
      </div>
      <div class="news_appointment_label_field">
        <%= f.label "Фамилия" %>
      </div>
      <div class="news_appointment_input_field">
        <%= f.text_field :last_name, minlength: 2, required: "required", size: 30, placeholder: "Введите свою фамилию" %>
      </div>
      <div class="news_appointment_label_field">
        <%= f.label "Номер телефона" %> или <a id="appointment_mail_change">почтовый ящик</a>
      </div>
      <div class="news_appointment_input_field">
        <%= f.text_field :phone, type: "tel", pattern: '[\+]7\d{10}', title: 'Format: +79999999999', minlength: 11, required: "required", size: 30, placeholder: "+7", id: "appointment_phone" %>
      </div>
      <div class="news_appointment_button">
        <%= f.submit (@news.appointment_button.present? ? @news.appointment_button : "Записаться"), class: 'button_send_appointment' %>
      </div>
    <% end %>
  </div>

</div>